{
   "semi": false,
   "jsxSingleQuote": false,
   "bracketSpacing": true,
   "tabWidth": 4,
   "arrowParens": "avoid",
   "trailingComma": "all",
   "singleAttributePerLine": false,
   "printWidth": 120
}
