.block{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block__name{
    font-size: 22px;
    font-weight: 500;
    padding-right: 10px;
}
.input{
    outline: none;
    background-color: rgba(255,255,255,0.05);
    border: none;
    font-size: 18px;
    width: 150px;
    height: 36px;
    padding: 2px 14px;
    border-radius: calc(var(--radius, 24) * 0.5);
    box-sizing: border-box;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 6px;
    background-color: rgba(255,255,255,0.05);
    border-radius: calc(var(--radius, 24) * 0.25);
    outline: none;
    cursor: pointer;
    --thumb-size: 22px;
  }
  
  /* Лінія для Firefox */
  .slider::-moz-range-track {
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(255,255,255,0.05);
    height: 4px;
    border-radius: 4px;
  }
  
  /* Кружок (ручка) */
  .slider::-moz-range-thumb {
    width: var(--thumb-size, 22);
    height: var(--thumb-size, 22);
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border: none;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--thumb-size, 22);
    height: var(--thumb-size, 22);
    border-radius: 50%;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    border: none;
  }
  
  .slider::-webkit-slider-thumb:hover, .slider::-moz-range-thumb:hover {
    background: rgba(255,255,255,0.2);
  }
  /*   ADAPTIVE   */

@media screen and (max-width: 2000px){
  .block__name{
    font-size: 20px;
  }
}
@media screen and (max-width: 1600px){
  .block__name{
    font-size: 18px;
  }
  .input{
    width: 120px;
    padding: 2px 10px;
    font-size: 16px;
  }
  .slider{
    width: 120px;
    --thumb-size: 18px;
  }
}

@media screen and (max-width: 800px){
  .block__name{
    font-size: 16px;
  }
  .slider{
    --thumb-size: 16px;
  }
}
@media screen and (max-width: 500px){
  .slider{
    width: 100px;
    height: 5px;
    --thumb-size: 14px;
  }
  .input{
    width: 100px;
  }
}
@media screen and (max-width: 300px){
  .slider{
    width: 80px;
    height: 5px;
    --thumb-size: 14px;
  }
  .input{
    width: 80px;
  }
}
