.footer{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    width: 100%;
    max-height: 180px;
    gap: 28px;
    overflow-y: auto;
    overflow-x: hidden;
}

.item{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
    cursor: pointer;
}
.logo{
    width: 100px;
    height: 100px;
    font-size: 70px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius, 24);
    transition: 0.2s ease all;
}
.item:hover .logo{
    backdrop-filter: blur(calc(var(--blur, 100) / 2.5));
}
.item__radius:hover .logo{
    backdrop-filter: inherit;
    border-radius: calc(var(--radius, 24) * 1.6);
}
.name{
    font-size: 22px;
    color: #CFCFCF;
    margin-top: 8px;
    max-width: 100px;
    word-wrap: break-word;
    text-align: center;
}

@media screen and (max-width: 1300px){
    .footer{
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
        max-height: 150px;
    }
    .logo{
        width: 80px;
        height: 80px;
        font-size: 40px;
    }
    .name{
        font-size: 20px;
        max-width: 80px;
    }
}

@media screen and (max-width: 550px){
    .footer{
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    }
    .logo{
        width: 70px;
        height: 70px;
        font-size: 34px;
    }
    .name{
        font-size: 18px;
        max-width: 70px;
    }
}

@media screen and (max-width: 400px){
    .footer{
        margin-top: 20px;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        gap: 16px;
        max-height: 100px;
    }
    .logo{
        width: 60px;
        height: 60px;
        font-size: 30px;
    }
    .name{
        font-size: 16px;
        max-width: 60px;
    }
}

@media screen and (max-width: 330px){
    .footer{
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    }
    .logo{
        width: 50px;
        height: 50px;
        font-size: 24px;
    }
    .name{
        font-size: 14px;
        max-width: 50px;
    }
}