.field {
    outline: none;
    border-radius: calc(var(--radius, 24) * 2);
    width: 1000px;
    height: 110px;
    box-sizing: border-box;
    padding-left: 48px;
    font-size: 36px;
    font-weight: 500;
}
@media screen and (max-width: 1600px){
    .field {
        height: 90px;
        width: 800px;
    }
}

@media screen and (max-width: 1300px){
    .field {
        width: 700px;
        height: 85px;
        padding-left: 36px;
        font-size: 32px;
    }
}

@media screen and (max-width: 900px){
    .field {
        width: 600px;
        padding-left: 30px;
    }
}
@media screen and (max-width: 700px){
    .field {
        width: 500px;
        height: 80px;
        padding-left: 24px;
        font-size: 28px;
    }
}
@media screen and (max-width: 550px){
    .field {
        width: 400px;
        height: 70px;
        font-size: 24px;
    }
}

@media screen and (max-width: 450px){
    .field {
        width: 350px;
    }
}

@media screen and (max-width: 400px){
    .field {
        width: 300px;
        height: 60px;
        padding-left: 18px;
        font-size: 22px;
    }
}

@media screen and (max-width: 330px){
    .field {
        width: 250px;
        height: 55px;
        font-size: 20px;
    }
}