@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --blur: 100px;
  --alpha: 0.2;
  --radius: 24px;
  --background: url("/themes/themes/theme1.jpg")
}

body{
  overflow: hidden;
}
body, html{
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
}

* {
  font-family: "Montserrat Alternates", sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

.back-alpha{
  background-color: rgba(243, 243, 243, var(--alpha, 0.2));
  border: 1px solid rgba(113, 113, 113, var(--alpha, 0.2));
  border-left: none;
  border-right: none;
  backdrop-filter: blur(var(--blur, 100));
  
  will-change: backdrop-filter;
  isolation: isolate;
}

#root.dark .back-alpha{
  background-color: rgba(0, 0, 0, var(--alpha, 0.2));
}
#root.dark #settings{
  background-color: rgba(0, 0, 0, calc(var(--alpha, 0.3) + 0.2));
}
#root.dark #list {
  background-color: rgba(0,0,0,0.07)
}