.hello{
    font-weight: 600;
    font-size: 90px;
    margin-bottom: 30px;
    text-align: center;
}

.time{
    font-weight: 700;
    font-size: 140px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1600px){
    .hello{
        font-size: 80px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1300px){
    .time {
        font-size: 120px;
    }
    .hello{
        font-size: 65px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 900px){
    .time {
        font-size: 110px;
    }
    .hello{
        font-size: 60px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 700px){
    .hello{
        word-break: break-all;
    }
}

@media screen and (max-width: 550px){
    .time {
        font-size: 90px;
    }
    .hello{
        font-size: 45px;
    }
}
@media screen and (max-width: 450px){
    .time {
        font-size: 70px;
    }
    .hello{
        font-size: 35px;
    }
}

@media screen and (max-width: 330px){
    .time {
        font-size: 60px;
    }
    .hello{
        font-size: 30px;
    }
}