.settings {
    position: absolute;
    right: 0;
    top: 0;
    width: 1000px;
    height: 100vh;
    border-radius: calc(var(--radius, 24) * 2.5) 0 0 calc(var(--radius, 24) * 2.5);
    display: flex;
    overflow: hidden;
    background-color: rgba(255,255,255, calc(var(--alpha, 0.1) - 0.1));
}

.settings::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(var(--blur, 100));
    -webkit-backdrop-filter: blur(var(--blur, 100));
    pointer-events: none;
    z-index: 0;
    border-radius: inherit;
}
.settings > * {
    z-index: 1;
}

.menu{
    height: 100%;
    width: 250px;
}
.cross{
    width: 45px;
    height: 45px;
    padding: 24px 0px 10px 24px;
    cursor: pointer;
    position: absolute;
}
.nav{
    padding: 90px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav__item{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}

.content{
    flex: 1;
}
.list{
    display: flex;
    flex-direction: column;
    margin: 70px 30px;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(113, 113, 113, 0.2);
    border-left: none;
    border-right: none;
    padding: 20px;
    border-radius: calc(var(--radius, 24) * 1.2);
    gap: 16px;
    overflow-y: auto;
    max-height: 80%;
}

.header {
    font-weight: 500;
    font-size: 22px;
}

.pinned{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-items: center;
    justify-content: center;
    gap: 20px;
}
.add{
    border-radius: var(--radius, 24);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease all;
    cursor: pointer;
}
.add:hover {
    border-radius: calc((var(--radius, 24) * 1.5) + 8px);
}
.add svg{
    width: 70px;
    height: 70px;
}

.themes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    column-gap: 20px;
    row-gap: 20px;
}

.theme{
    width: 120px;
    height: 68px;
    border-radius: calc((var(--radius, 24) / 2));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.theme.active{
    outline: 1px solid #fff;
}

.information{
    gap: 0px;
}

.smallheader{
    font-weight: 600;
    padding: 0;
    margin: 15px 0px 5px 0px;
}
.text{
    font-size: 16px;
}

@media screen and (max-width: 1300px){
    .add{
        width: 80px;
        height: 80px;
    }
    .add svg{
        width: 60px;
        height: 60px;
    }
    .pinned{
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    }
}


@media screen and (max-width: 550px){
    .add{
        width: 70px;
        height: 70px;
    }
    .add svg{
        width: 50px;
        height: 50px;
    }
    .pinned{
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    }
}
@media screen and (max-width: 450px){
    .themes{
        justify-content: center;
        gap: 30px;
    }
}
@media screen and (max-width: 400px){
    .add{
        width: 60px;
        height: 60px;
    }
    .add svg{
        width: 40px;
        height: 40px;
    }
    .pinned{
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    }
}

@media screen and (max-width: 330px){
    .add{
        width: 50px;
        height: 50px;
    }
    .add svg{
        width: 35px;
        height: 35px;
    }
}

/*   ADAPTIVE   */

@media screen and (max-width: 2000px){
    .settings{
        width: 800px;
    }
    .menu{
        width: 200px;
    }
    .nav__item{
        font-size: 18px;
    }
}

@media screen and (max-width: 1600px){
    .settings{
        width: 700px;
    }
    .menu{
        width: 195px;
    }
    .list{
        margin: 60px 20px;
    }
}
@media screen and (max-width: 1300px){
    .settings{
        width: 80vw;
        height: 80vh;
        top: auto;
        right: auto;
        border-radius: calc(var(--radius, 24) * 2.5);
    }
    .list{
        margin: 60px 60px 60px 20px;
    }
}
@media screen and (max-width: 1100px){
    .settings{
        width: 90vw;
        height: 90vh;
    }
}
@media screen and (max-width: 800px){
    .settings{
        flex-direction: column;
    }
    .menu{
        width: 100%;
        height: auto;
    }
    .list{
        margin: 20px 30px 20px 30px;
    }
    .nav{
        flex-direction: row;
        justify-content: center;
        gap: 250px;
        padding: 70px 20px 20px 20px;
    }
    .nav__item{
        display: none;
        width: 150px;
    }
    .nav__item.active, .nav__item.closer{
        display: block;
    }
    .nav__item.active{
        color: #fff;
        order: 2;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .nav__item.closer{
        color: rgba(0,0,0,0.4);
        order: 1
    }
    .nav__item.left{
        order: 1;
        text-align: right;
    }
    .nav__item.center{
        order: 2;
        text-align: center;
    }
    .nav__item.right{
        order: 3;
        text-align: left;
    }
    .header {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px){
    .settings{
        width: 100vw;
        height: 100vh;
        border-radius: 0px;
    }
    .nav{
        gap: 200px;
    }
}

@media screen and (max-width: 500px){
    .list{
        margin: 20px 0px 20px 0px;
        border-radius: 0px;
    }
    .nav__item{
        font-size: 16px;
        word-break: break-all;
    }
    .nav{
        gap: 150px;
    }
    .header {
        font-size: 18px;
    }
}

@media screen and (max-width: 400px){
    .nav{
        gap: 150px;
        padding: 70px 12px 16px 12px;
    }
    .nav__item{
        font-size: 14px;
        word-break: break-all;
    }
}